<div class="top-0 sticky bg-white w-full h-auto flex justify-evenly items-center border-b-2 border-b-black p-1">
  <a href="mailto:usemartin2@gmail.com" target="_blank">
    <div class="flex justify-center items-center h-9 w-9">
      <img src="/correo.png" alt="email" />
      <span class="ml-2">usemartin2&#64;gmail.com</span>
    </div>
  </a>
  <a href="https://github.com/KaZZuSe" target="_blank">
    <div class="flex justify-center items-center h-9 w-9 cursor-pointer">
      <img src="/github.png" alt="github" />
    </div>
  </a>
  <a href="https://www.linkedin.com/in/eusebio-mart%C3%ADn-5b0aa72b0/" target="_blank">
    <div class="flex justify-center items-center h-9 w-9">
      <img src="/linkedin.png" alt="linkedin" />
    </div>
  </a>
</div>

<div class="info h-screen w-full grid grid-rows-2 justify-end items-center">
  <div class="info mt-36 grid grid-cols-2 justify-end items-center">
    <div class="flex justify-center items-center">
      <span class="text-5xl font-mono font-bold px-24 h-full flex justify-center items-center">
        Hola, soy Use, un apasionado desarrollador web fullstack. Estoy en búsqueda de nuevas oportunidades para contribuir con mis habilidades técnicas y creativas al éxito de proyectos innovadores.
      </span>
    </div>
    <div class="flex justify-center items-center h-auto w-auto">
      <img src="/person.png" alt="person" class="rounded-full h-96 w-96" />
    </div>
  </div>

  <div class="info h-full w-full py-36 grid grid-cols-4 justify-center items-end">
    <div class="flex justify-center items-end">
      <a href="#proyectos" class="flex justify-center items-center rounded-full border-2 border-black cursor-pointer p-2-400 font-bold font-mono h-16 w-36 hover:scale-110 ease-in duration-300 hover:bg-black hover:text-white hover:shadow-2xl">Proyectos</a>
    </div> 
    <div class="flex justify-center items-center">
      <a href="#proyectos" class="flex justify-center items-center rounded-full border-2 border-black cursor-pointer p-2-400 font-bold font-mono h-16 w-36 hover:scale-110 ease-in duration-300 hover:bg-black hover:text-white hover:shadow-2xl">Skills</a>
    </div> 
    <div class="flex justify-center items-center">
      <a href="#proyectos" class="flex justify-center items-center rounded-full border-2 border-black cursor-pointer p-2-400 font-bold font-mono h-16 w-36 hover:scale-110 ease-in duration-300 hover:bg-black hover:text-white hover:shadow-2xl">Experiencia</a>
    </div> 
    <div class="flex justify-center items-center">
      <a href="#proyectos" class="flex justify-center items-center rounded-full border-2 border-black cursor-pointer p-2-400 font-bold font-mono h-16 w-36 hover:scale-110 ease-in duration-300 hover:bg-black hover:text-white hover:shadow-2xl">Formación</a>
    </div> 
  </div>
</div>

<div class="proyectos grid grid-rows-2 justify-center items-center" id="proyectos">
  <div class="flex justify-center items-center w-full mb-4">
    <span class="text-7xl font-mono font-bold">Proyectos</span>
  </div>
  <div class="grid grid-rows-3 gap-2">
    <div class="grid grid-cols-[1fr_2fr_1fr] items-center h-fit w-full rounded-xl gap-4">
      <div class="flex justify-center items-center">
        <a href="https://usa2shop.vercel.app/" target="_blank" class="h-full w-full">
          <div class="rounded-xl">
            <img src="/proyecto_uno.png" alt="proyecto" class="h-56 w-full object-fill rounded-xl" />
          </div>
        </a>
      </div>
      <div class="flex justify-center items-center text-center">
        <span class="text-xl font-mono font-semibold">
          Ecommerce de ropa de segunda mano usando Django como Backend y React como Frontend.
        </span>
      </div>
      <div class="flex justify-center items-center">
        <span class="flex justify-center items-center gap-2">
          <img src="/tecnologias/react.png" alt="react" class="h-8 w-11" />
          <img src="/tecnologias/tailwind.png" alt="tailwind" class="h-6 w-8" />
          <img src="/tecnologias/django.png" alt="django" class="h-8 w-8" />
          <img src="/tecnologias/postgres.png" alt="postgres" class="h-8 w-8" />
        </span>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <span class="text-xl font-mono font-bold">PROGRAMANDO...</span>
    </div>
  </div>
</div>
<div class="proyectos grid grid-rows-2 justify-center items-center" id="proyectos">
  <div class="flex justify-center items-center w-full mb-4">
    <span class="text-7xl font-mono font-bold">Skills</span>
  </div>
  <div class="contenedor-skills flex justify-center items-center">
    <div class="relative w-52 h-64 rounded-xl z-[1111] overflow-hidden flex flex-col items-center justify-center shadow-[20px_20px_60px_#bebebe,-20px_-20px_60px_#ffffff]">
      <div class="absolute top-0 left-0 w-full h-full rounded-lg bg-red-500 blob"></div>
      <div class="absolute z-1 top-1/2 left-1/2 w-full h-[2px] bg-red-500 blob"></div>
    </div>  
  </div>
</div>


<div class="footer mt-16 h-16 w-full grid grid-cols-2 justify-center items-center bg-black text-white">
  <div class="flex justify-center items-center">
    <span class="text-2xl font-mono font-bold">Use Portfolio</span>
  </div>
  <div class="flex justify-center items-center">
    <span class="text-2xl font-mono font-bold">2023</span>
  </div>
</div>